* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
}

.menu {
    display: flex;
    gap: 35px;
    border: 1px solid #333;
    background-color: rgb(255, 237, 216);
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: rgb(152, 177, 10);
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'open-sans',sans-serif';
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color:burlywood;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: rgb(0, 0, 0);
}

.p2 {
    margin-top: 20px;
}

h2 {
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(116, 2, 2);
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: wheat;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: wheat;
    text-decoration: none;
}

a.tbl-pink {
    background: wheat;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background:rgb(152, 177, 10) ;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 30px
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.id-tutor {
    width: 20%;
    margin: 0% auto;
}

.id-tutor img {
    width: 80%;
    border-radius: 100%;
}

.id-tutor p {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #333;
}

.tbl-ungu {
    border-radius: 20px;
    margin-top: 50px;
    padding: 15px 20px 15px 20px;
    color: rgb(206, 44, 79);
    cursor: pointer;
    font-weight: bold;
}

.tbl-ungu :hover{
    color: chartreuse;
}

p1 {
    margin-top: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}